# Analise dos dados - Filmes e programas de TV da Netflix 2021

In [1]:
# importando bibliotecas
import pandas as pd
import seaborn as srn
import matplotlib.pyplot as plt
import matplotlib as mat
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

## Lendo o arquivo CSV e conhecendo os dados

In [2]:
dataset = pd.read_csv('netflixData.csv')

In [3]:
dataset.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [4]:
dataset.shape

(5967, 13)

In [5]:
dataset.columns = ['ID', 'Título', 'Descrição', 'Diretor', 'Gênero', 'Elenco', 'País', 'Lançamento', 'Classificação', 'Duração', 'IMDB', 'Tipo', 'DataAdicionado']
dataset.head(1)

,ID,Título,Descrição,Diretor,Gênero,Elenco,País,Lançamento,Classificação,Duração,IMDB,Tipo,DataAdicionado
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              5967 non-null   object
 1   Título          5967 non-null   object
 2   Descrição       5967 non-null   object
 3   Diretor         3903 non-null   object
 4   Gênero          5967 non-null   object
 5   Elenco          5437 non-null   object
 6   País            5408 non-null   object
 7   Lançamento      5964 non-null   float64
 8   Classificação   5963 non-null   object
 9   Duração         5964 non-null   object
 10  IMDB            5359 non-null   object
 11  Tipo            5967 non-null   object
 12  DataAdicionado  4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.1+ KB

In [7]:
dataset.describe()

        Lançamento
count  5964.000000
mean   2015.643863
std       7.257391
min    1925.000000
25%    2015.000000
50%    2018.000000
75%    2019.000000
max    2021.000000

In [8]:
dataset.isnull()

,ID,Título,Descrição,Diretor,Gênero,Elenco,País,Lançamento,Classificação,Duração,IMDB,Tipo,DataAdicionado
0,False,False,False,True,False,True,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,False,False,False,False,False,False,False,False,False,False,False,False,False
5963,False,False,False,True,False,False,True,False,False,False,True,False,True
5964,False,False,False,True,False,False,True,False,False,False,True,False,True
5965,False,False,False,False,False,False,False,False,False,False,False,False,False
5966,False,False,False,False,False,False,True,False,False,False,False,False,False

In [9]:
total_null=dataset.isnull().sum() 
total_null

ID                   0
Título               0
Descrição            0
Diretor           2064
Gênero               0
Elenco             530
País               559
Lançamento           3
Classificação        4
Duração              3
IMDB               608
Tipo                 0
DataAdicionado    1335
dtype: int64

In [10]:
print(round(total_null*100/len(dataset),2))

ID                 0.00
Título             0.00
Descrição          0.00
Diretor           34.59
Gênero             0.00
Elenco             8.88
País               9.37
Lançamento         0.05
Classificação      0.07
Duração            0.05
IMDB              10.19
Tipo               0.00
DataAdicionado    22.37
dtype: float64

## Explorando as categorias e tratando

## Categoria Título

In [11]:
#explorar dados categoricos
#Título
agrupado = dataset.groupby(['Título']).size()
agrupado

Título
#Alive                                 1
#AnneFrank - Parallel Stories          1
#FriendButMarried                      1
#FriendButMarried 2                    1
#Rucker50                              1
                                      ..
​SAINT SEIYA: Knights of the Zodiac    1
​​Kuch Bheege Alfaaz                   1
海的儿子                                   1
반드시 잡는다                                1
최강전사 미니특공대 : 영웅의 탄생                    1
Length: 5897, dtype: int64

In [12]:
dataset['Título'].isnull().sum()

0

In [13]:
dataset['Título'] = dataset['Título'].str.replace('#','')

In [14]:
dataset['Título'].head(2)

0    (Un)Well
1       Alive
Name: Título, dtype: object

## Descrição

In [15]:
#explorar dados categoricos
#Descrição
dataset['Descrição'].head(2)

0    This docuseries takes a deep dive into the luc...
1    As a grisly virus rampages a city, a lone man ...
Name: Descrição, dtype: object

In [16]:
dataset['Descrição'].isnull().sum()

0

In [17]:
#Deletando a coluna Descrição, visto não ter necessidade na analise atual que estamos realizando
dataset.drop(columns=['Descrição'], inplace = True)
dataset.head(2)

,ID,Título,Diretor,Gênero,Elenco,País,Lançamento,Classificação,Duração,IMDB,Tipo,DataAdicionado
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,Alive,Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"

In [18]:
#Deletando a coluna Descrição, visto não ter necessidade na analise atual que estamos realizando
dataset.drop(columns=['DataAdicionado'], inplace = True)
dataset.head(2)

,ID,Título,Diretor,Gênero,Elenco,País,Lançamento,Classificação,Duração,IMDB,Tipo
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,Alive,Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie

## Categoria Diretor

In [19]:
#explorar dados categoricos
#Diretor
dataset['Diretor'].isnull().sum()

2064

In [20]:
# Tratando as colunas Diretor colocando no lugar de null o valor "Não Informado"
dataset["Diretor"].fillna("Não Informado", inplace=True)

In [21]:
agrupado = dataset.groupby(['Diretor']).size()
agrupado

Diretor
A. L. Vijay              1
A. Raajdheep             1
A. Salaam                1
A.R. Murugadoss          3
Aadish Keluskar          1
                        ..
Ángel Gómez Hernández    1
Ángeles Reiné            1
Ísold Uggadóttir         1
Ömer Faruk Sorak         1
Şenol Sönmez             2
Length: 2994, dtype: int64

## Categoria Gênero

In [22]:
#explorar dados categoricos
#Gênero
dataset['Gênero'].isnull().sum()

0

In [23]:
dataset['Gênero'].head()

0                                        Reality TV
1    Horror Movies, International Movies, Thrillers
2               Documentaries, International Movies
3                                       TV Comedies
4               Documentaries, International Movies
Name: Gênero, dtype: object

In [24]:
agrupado2 = dataset.groupby(['Gênero']).size()
agrupado2

Gênero
Action & Adventure                                              65
Action & Adventure, Anime Features, Children & Family Movies     3
Action & Adventure, Anime Features, Classic Movies               2
Action & Adventure, Anime Features, Horror Movies                1
Action & Adventure, Anime Features, International Movies        31
                                                                ..
TV Horror, TV Mysteries, Teen TV Shows                           1
TV Horror, Teen TV Shows                                         2
TV Sci-Fi & Fantasy, TV Thrillers                                1
TV Shows                                                         9
Thrillers                                                       33
Length: 433, dtype: int64

## Categoria Elenco

In [25]:
#explorar dados categoricos
#Elenco
dataset['Elenco'].isnull().sum()

530

In [26]:
# Tratando as colunas Elenco colocando no lugar de null o valor "Não Informado"
dataset["Elenco"].fillna("Não Informado", inplace=True)

In [27]:
dataset["Elenco"].head(2)

0               Não Informado
1    Yoo Ah-in, Park Shin-hye
Name: Elenco, dtype: object

In [28]:
#Deletando a categoria Elenco, visto não ter necessidade na analise atual que estamos realizando
dataset.drop(columns=['Elenco'], inplace = True)
dataset.head(2)

,ID,Título,Diretor,Gênero,País,Lançamento,Classificação,Duração,IMDB,Tipo
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,Não Informado,Reality TV,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,Alive,Cho Il,"Horror Movies, International Movies, Thrillers",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie

## Categoria País

In [29]:
#explorar dados categoricos
#País
dataset['País'].isnull().sum()

559

In [30]:
# Tratando a categoria País, colocando no lugar de null o valor "Não Informado"

dataset["País"].fillna("Não Informado", inplace=True)
dataset.head(2)

,ID,Título,Diretor,Gênero,País,Lançamento,Classificação,Duração,IMDB,Tipo
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,Não Informado,Reality TV,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,Alive,Cho Il,"Horror Movies, International Movies, Thrillers",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie

In [31]:
agrupado3 = dataset.groupby(['País']).size()
agrupado3

País
Argentina                                              40
Argentina, Brazil, France, Poland, Germany, Denmark     1
Argentina, Chile                                        1
Argentina, France                                       1
Argentina, Italy                                        2
                                                       ..
Uruguay, Guatemala                                      1
Uruguay, Spain, Mexico                                  1
Vietnam                                                 4
West Germany                                            1
Zimbabwe                                                1
Length: 510, dtype: int64

## Categoria Lançamento

In [32]:
#explorar coluna de Data
#Lançamento
dataset['Lançamento'].describe()

count    5964.000000
mean     2015.643863
std         7.257391
min      1925.000000
25%      2015.000000
50%      2018.000000
75%      2019.000000
max      2021.000000
Name: Lançamento, dtype: float64

In [33]:
dataset['Lançamento'].isnull().sum()

3

In [34]:
dataset['Lançamento'] = pd.to_datetime(dataset['Lançamento'], format='%Y') 
dataset['Lançamento'].head()

0   2020-01-01
1   2020-01-01
2   2019-01-01
3   2020-01-01
4   2020-01-01
Name: Lançamento, dtype: datetime64[ns]

In [35]:
#Tratando a coluna lançamento e colocando a mediana no valores null
dataset["Lançamento"].fillna(dataset['Lançamento'].median(), inplace=True)
dataset['Lançamento'].isnull().sum()

0

In [ ]:
srn.distplot(dataset['Lançamento'], bins = 10, axlabel = 'Anos').set_title('Lançamento')

C:\Users\PC\anaconda3\lib\site-packages\seaborn\distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

Text(0.5, 1.0, 'Lançamento')

In [ ]:
# Visualização do histograma com 6 divisões (bins)
plt.hist(dataset['Lançamento'], bins = 6)
plt.title('Lançamento')
plt.ylabel('Frequência')
plt.xlabel('Anos')

## Categoria Classificação

In [ ]:
dataset['Classificação'].head()

In [ ]:
dataset['Classificação'].unique()

In [ ]:
dataset['Classificação'] = dataset['Classificação'].str.replace('TV-MA' or 'PG' or 'TV-Y7','Orientação dos Responsáveis')
dataset['Classificação'] = dataset['Classificação'].str.replace('TV-14' or 'PG-13','Orientação dos Responsáveis-13')
dataset['Classificação'] = dataset['Classificação'].str.replace('TV-G' or 'G','Todas as Idades')
dataset['Classificação'] = dataset['Classificação'].str.replace('TV-PG' or 'R','Restrito')
dataset['Classificação'] = dataset['Classificação'].str.replace('TV-Y','Conteúdo infantil')
dataset['Classificação'] = dataset['Classificação'].str.replace('NC-17','Apenas adultos')
dataset["Classificação"].fillna("Não Informada", inplace=True)
dataset.head()

In [ ]:
dataset['Classificação'].isnull().sum()

## Categoria IMDB

In [ ]:
dataset["IMDB"].describe()

In [ ]:
dataset["IMDB"].unique()

In [ ]:
dataset['IMDB'] = dataset['IMDB'].str.replace('/10','')
dataset["IMDB"].unique()

In [ ]:
dataset['IMDB'] = pd.to_numeric(dataset['IMDB'],errors = 'coerce')
dataset.info()

Retirando Filmes e Series que não tem nota IMDB

In [ ]:
dataset['IMDB'].isnull().sum()

In [ ]:
# Excluindo linha que não tem nota
dataset = dataset[dataset['IMDB'].notna()]
dataset["IMDB"].describe()

In [ ]:
dataset['IMDB'].isnull().sum()

In [ ]:
a = dataset['IMDB'].median()
b = dataset['IMDB'].mean()
print("A Mediana é {} e a Media é {}".format(a,b))

In [ ]:
# Histograma com a duração das Filmes (Duração)
dataset['IMDB'].plot(kind='hist')
plt.title('')
plt.ylabel('Frequência')
plt.xlabel('Nota')

In [ ]:
#densidade e histograma
srn.distplot(dataset['IMDB'], hist = True, kde = True,
             bins = 6, color = 'blue',
             hist_kws={'edgecolor': 'black'})

## Dividindo a tabela por Tipo e resetando o index - Filmes e Series

In [ ]:
dataset["Tipo"].unique()

In [ ]:
#Dividindo a Tabela por Tipo
series = dataset[dataset['Tipo'].str.contains('TV Show')]
filmes = dataset[dataset['Tipo'].str.contains('Movie')]

In [ ]:
#Reset no index das duas novas tabelas
filmes = filmes.reset_index(drop=True)
series = series.reset_index(drop=True)

In [ ]:
filmes.head(2)

In [ ]:
series.head(2)

## Categoria Duração - tabela filme

In [ ]:
filmes['Duração'].head()

In [ ]:
filmes['Duração'].isnull().sum()

In [ ]:
filmes['Duração'] = filmes['Duração'].str.replace('min','')

In [ ]:
filmes.info()

In [ ]:
filmes['Duração'] = pd.to_numeric(filmes['Duração'],errors = 'coerce')
filmes.info()

In [ ]:
a = filmes['Duração'].median()
b = filmes['Duração'].mean()
print("A Mediana é {} e a Media é {}".format(a,b))

In [ ]:
filmes['Duração'].describe()

In [ ]:
h = np.histogram(filmes["Duração"])
h

In [ ]:
# Histograma com a duração das Filmes (Duração)
filmes['Duração'].plot(kind='hist')
plt.title('')
plt.ylabel('Frequência')
plt.xlabel('Duração')

In [ ]:
srn.distplot(filmes['Duração'], bins = 10, axlabel = 'Anos').set_title('Duração')

In [ ]:
# Verificando como está distribuida as Durações com BOXPLOT
srn.boxplot(filmes['Duração'])

In [ ]:
# Gráfico de dispersão utilizando os atributos Lançamento e Duração, agrupamento pelo Tipo
srn.scatterplot(filmes['Lançamento'], filmes['Duração'], hue = filmes["Tipo"])

## Unindo novamente as tabelas

In [ ]:
dataset = pd.concat([filmes, series])

In [ ]:
dataset

In [ ]:
#Reset o index
dataset = dataset.reset_index(drop=True)
dataset

In [ ]:
df.to_csv('your_name.csv', index = False)